################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthenticationBcrypt/AuthenticationBcrypt/obj/Release/net5.0
/.vs/Authentication-Group-MCC/v16
/.vs/slnx.sqlite
/.vs
/AuthenticationBcrypt/.vs/AuthenticationBcrypt/v16
