################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthenticationBcrypt/AuthenticationBcrypt/obj/Release/net5.0
